@import '../../style/varialbes';
.main {
    &__heading {
        font-size: 3.2rem;
        padding: 1.75rem;
        background-color: $primaryColor;
        color: $secondaryColor;
    }
    min-height: 100vh;
}