@import '../../style/varialbes';
.petCard {
    height: 330px;
    padding: 0 1rem;
    box-shadow: rgba(47, 47, 47, 0.1) 0px 10px 40px 0px;
    &:not(:last-of-type){
        margin-bottom: 4.5rem;
    }
    &__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__link {
        display: flex;
        height: 100%;
        position: relative;
    }
    &__text {
        &Wrapper {
            background-color: white;
            text-align: center;
            padding: 1.25rem;
            align-self: flex-end;
            width: 100%;
            border: 2px solid $primaryColor;
            z-index: 2;
        }
        font-size: 2rem;
        color: $primaryColor;
    }
}