@import '../../style/varialbes';
.linkcard {
    &__wrapper {
        padding: 4rem 5rem;
        background-color: $secondaryColor;
    }
    &__card {
        width: 100%;
        padding: 2rem 1rem;
        background-color: #fff;
        box-shadow: rgba(47, 47, 47, 0.1) 0px 10px 40px 0px;
        transition: transform .25s , box-shadow .35s;
        &:not(:last-of-type){
            margin-bottom: 4rem;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(47, 47, 47, 0.5) 0px 10px 40px 0px;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 2rem;
        font-family: 'Lato';
    }
    
    &__img {
        width: 150px;
        fill: $primaryColor;
    }
    &__text {
        padding: 1.25rem;
    }
}