@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
}
p {
  font-family: 'Lato';
}
li {
  font-family: 'Lato';
}
span {
  font-family: 'Montserrat';
}