@import "../../style/varialbes";
.nav {
  width: 100%;
  position: absolute;
  top: 100%;
  transform-origin: top;
  animation: animation 1s forwards;
  background-color: #fff;
  opacity: 0;
  transform: scaleY(0);
  padding: 0.5rem 0;
  transition: transform 1s, opacity 1s;
  pointer-events: none;
  z-index: 1000;
  &.active {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }
  @media (min-width: 1000px) {
    display: block;
  }
  &__list {
    padding: 1.5rem 0;
  }
  &__item:first-of-type {
    border-top: 2px solid rgba($tertiaryColor, 0.4);
  }
  &__link {
    color: $tertiaryColor;
    display: block;
    font-size: 2.1rem;
    padding: 1.5rem;
    font-family: "Montserrat";
    &::focus {
      color: $primaryColor;
    }
  }
}
